In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [2]:
def write(df, path):
    df.to_csv(path, index=False)

In [3]:
write_path = "../data/"

real_return_path = write_path + "real_return.csv"
real_return = pd.read_csv(real_return_path)

In [4]:
real_return["stock_id"] = real_return["date_time"].apply(lambda x: x.split("d")[0][1:]).astype("int")
real_return["day"] = real_return["date_time"].apply(lambda x: x.split("d")[1][:]).astype("int")
real_return = real_return.sort_values(by=["stock_id", "day"]).reset_index(drop=True).drop(columns=["stock_id", "day"])
real_return

      date_time    return
0       s0d1001  0.020568
1       s0d1002  0.011545
2       s0d1003  0.021110
3       s0d1004 -0.002853
4       s0d1005  0.015037
...         ...       ...
37687  s53d1694 -0.024531
37688  s53d1695 -0.003685
37689  s53d1696 -0.024411
37690  s53d1697 -0.032546
37691  s53d1698  0.006065

[37692 rows x 2 columns]

In [5]:
write_path = "../data/"
return_reorder_path = write_path + "real_return_reorder.csv"
write(real_return, return_reorder_path)